$body-border-color: #653366

@import url('https://fonts.googleapis.com/css?family=Oswald:400,700|Raleway:400,700,800,900')

.font-oswald
  font-family: 'Oswald', sans-serif
.font-raleway
  font-family: 'Raleway', sans-serif

.gal-property
  background-repeat: no-repeat
  background-position: center center
  background-size: cover

* 
  margin: 0
  box-sizing: border-box
  
body 
  border: 20px solid $body-border-color
  @extend .font-oswald

section,
header
  width: 100%
  height: 100vh


.hero
  @extend .gal-property
  background-image: url("https://cdn.pixabay.com/photo/2015/02/24/02/05/website-647013_960_720.jpg")
  .gray 
    height: 100%
    background-color: rgba(0, 0, 0, 0.9)
    .junior-anim
      font-size: 4em
      text-align: center
      margin-top: 25vh
      color: #fff

  


